In [2]:
name = ["Prakyath"]
for item in name:
    print(item)

Prakyath

In [3]:
name = "Prakyath"
for item in name:
    print(item)

P
r
a
k
y
a
t
h

In [4]:
countries = ["India", "USA", "UK", "Canada"]
for country in countries:
    print(country)

India
USA
UK
Canada

In [5]:
countries = "India USA UK Canada"
for country in countries:
    print(country)

I
n
d
i
a

U
S
A

U
K

C
a
n
a
d
a

In [6]:
countries = ("India", "USA", "UK", "Canada")
for country in countries:
    print(country)

India
USA
UK
Canada

In [7]:
student_details = {"Name": "Prakyath", "Age": 21, "Category": "boarding"}

for key, value in student_details.items():
    print(f"The key is: {key} and the value is: {value}")

The key is: Name and the value is: Prakyath
The key is: Age and the value is: 21
The key is: Category and the value is: boarding

In [8]:
countries = ("India", "USA", "UK", "Canada")
for country in countries:
    print(country)
    for item in country:
        print(item)

India
I
n
d
i
a
USA
U
S
A
UK
U
K
Canada
C
a
n
a
d
a

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,10):
    print("Python range in loop:", i)

Python range in loop: 1
Python range in loop: 2
Python range in loop: 3
Python range in loop: 4
Python range in loop: 5
Python range in loop: 6
Python range in loop: 7
Python range in loop: 8
Python range in loop: 9

In [11]:
for i in range(4,10):
    print("Python range in loop:", i)

Python range in loop: 4
Python range in loop: 5
Python range in loop: 6
Python range in loop: 7
Python range in loop: 8
Python range in loop: 9

In [12]:
for i in range(10):
    print("Python range in loop:", i)

Python range in loop: 0
Python range in loop: 1
Python range in loop: 2
Python range in loop: 3
Python range in loop: 4
Python range in loop: 5
Python range in loop: 6
Python range in loop: 7
Python range in loop: 8
Python range in loop: 9

In [13]:
for i in range(5,10, 3):
    print("Python range in loop with step:", i)

Python range in loop with step: 5
Python range in loop with step: 8

In [18]:
for i in range(0,10,2):
    print("Python range in loop with step of 2:", i)

Python range in loop with step of 2: 0
Python range in loop with step of 2: 2
Python range in loop with step of 2: 4
Python range in loop with step of 2: 6
Python range in loop with step of 2: 8

In [26]:
countries = ("India", "USA", "UK", "Canada")
print(f"Length of countries tuple: {len(countries)}\n")

for index in range(len(countries)):
    print("The index position of:", countries[index], "in the set is", index)

Length of countries tuple: 4

The index position of: India in the set is 0
The index position of: USA in the set is 1
The index position of: UK in the set is 2
The index position of: Canada in the set is 3

In [27]:
countries = ["India", "USA", "UK", "Canada"]

for i in range(len(countries)):
    print(i)

0
1
2
3

In [30]:
countries = ["India", "USA", "UK", "Canada"]

for i in range(len(countries)):
    print(f" the country: {countries[i]} has index {i}")

 the country: India has index 0
 the country: USA has index 1
 the country: UK has index 2
 the country: Canada has index 3

In [31]:
countries = ("India", "USA", "UK", "Canada")

for index in range(2):
    print(f"Accessing item {index}, on the list: {countries[index]}")

Accessing item 0, on the list: India
Accessing item 1, on the list: USA

In [33]:
countries = ("India", "USA", "UK", "Canada")

for index in range(0,2):
    print(f"Accessing item {index}, on the list: {countries[index]}")

Accessing item 0, on the list: India
Accessing item 1, on the list: USA

In [34]:
countries = ("India", "USA", "UK", "Canada")

for index in range(1,2):
    print(f"Accessing item {index}, on the list: {countries[index]}")

Accessing item 1, on the list: USA

# While

In [39]:
age = 5
while age <= 8:
    print("The while loop in python")
    age += 1
    if(age == 7):
        break

The while loop in python
The while loop in python

In [ ]:
countries = ("India", "USA", "UK", "Canada")
for i in range(len(countries)):
    if countries[i] == "UK":
        print("This is", countries[i])
        break
else:
    print("it got here")

This is UK

In [42]:
countries = ("India", "USA", "UK", "Canada")
for i in range(len(countries)):
    if countries[i] == "USA":
        print("This is", countries[i])
        continue
    print("it got here")

it got here
This is USA
it got here
it got here

In [44]:
countries = ("India", "USA", "UK", "Canada")
for i in range(len(countries)):
    if countries[i] == "UK":
        pass
print("This is after pass statement")

This is after pass statement

In [47]:
countries = ("India", "USA", "UK", "Canada")

for i in range(len(countries)):
    if countries[i] == "India":
        print("This is", countries[i])
    else:
        print("it got here")

This is India
it got here
it got here
it got here

In [48]:
countries = ("India", "USA", "UK", "Canada")

for i in range(len(countries)):
    if countries[i] == "India":
        print("This is", countries[i])
else:
        print("it got here")

This is India
it got here

In [49]:
for i in range(4): print("single line loop statement")

single line loop statement
single line loop statement
single line loop statement
single line loop statement